* Extra program
    + Tesseract-ocr
    + MySQL
* Python module
    + urllib
    + urllib2
    + re
    + cookielib
    + beautifulsoup4
    + pytesseract
    + PyQt
    + PIL
    + json
    + requests
    + pymysql
    + 